/* /* General styles

body {
    background-image: url(/src/images/showtime.jpg);
    font-family: Arial, sans-serif;
    background-color: #bd2f2f;
  }
  

  .movies {
    background-image: url(/src/images/shutterstock.jpg); 
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(226, 75, 75, 0.1);
  margin-bottom: 20px;
  } */
  
  
  /* h1.title {
    font-size: 24px;
    margin-bottom: 10px;
    
  
  }
  
  .App {
    text-align: center;
    
  }
  
  .App-logo {
    font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  .App-link {
    color: #6178fb;
  }
  

  .App-info {
    display: flex;
    flex-direction: column;
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container-lg {
  
  text-align: center;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  } */ 

  body {
    background: #111111;
    color: #ffffff;
  }
  
  .movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  
  .image-container {
    position: relative;
    transition: transform 0.2s;
  }
  
  .image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    background: rgba(14, 13, 13, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }